body {
	background-color: ;
}


.navlinks {

	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%
}

.navlinks a, a:link, a:visited {

	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: solid black 1px;

}

h1 {
	text-align: center;
	font-family: ;
}

p {
	text-align: left;
	font-family: ;
	margin-left: 20%;
	margin-right: 20%;
}

li {
	text-align: left;
	font-family: ;
	margin-left: 20%;
	margin-right: 20%;
}

.forsidetekst {
	text-align: center;
	font-family: ;
	margin-left: 20%;
	margin-right: 20%;
}

/*Det tengs en liten top margin på det første som kommer etter den øverste menyen for å unngå at ting overlapper (margin-top: 30px f. eks)*/
